.graph {
    width: 500px;
    background-color: gainsboro;
}

#title{
    margin-top: 2%;
    color: #30426A;
}

.butao{
    color: aliceblue;
    background-color: #30426A;
    padding-left: 2%;
    padding-right: 2%;
}

#continent{
    margin-top: 2%;
    margin-bottom: 2%;
}

#map-graph{
    width: 100%;
    height: 70%;
}


#back{
    color: aliceblue;
    background-color: #30426A;
    margin-top: 15px;
}

#filters-selected{
    color: aliceblue;
    background-color: #30426A;
    margin-top: 2%;
    margin-bottom: 2%;
}

#map_slider{
    width : 96%;
    margin-top: -68px;
    /* padding-left: 5px; */
    justify-self: center;
    align-self: center;
    
}

#main_menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-right: 0px;
}

#country_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rank{
    /* padding-top: 20px; */
    padding-right: 20px;
}

.filter_item {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: -25px;    
}

.filter_sec {
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: -0.5px;
}

.continent_button {
    width: 70px;
}

.button_class{
    color: aliceblue;
    background-color: #30426A;
    padding-left: 2%;
    padding-right: 2%;
}

#map_variable {
    width: 25%;
    margin: "auto";
}

#map_variable_container {
    display: flex;
    justify-content: center;
    /* center the content of the div */
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

#no_data {
    height: 20px;
    width: 40px;
    margin-right: 10px;
    background-color: #ced4da;
    border-color: black;
}

#no_data_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
#no_data_container {
    display: flex;
    justify-content: start;
    align-items: start;
    width : 80%;
    margin-top: 30px;
    justify-self: center;
    align-self: center;
}

.scatter_plot {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#scatter_horizontal {
    display: flex;
    justify-content: center ;
} 

#y_variable {
    padding-left: 10px;
    width: 200px;
}

#scatter_vertical{
    display: flex;
    flex-direction:column;
    align-items: center;
    /* width: 950px; */
}

#x_variable {
    width : 200px;
    padding-right: 10px;
}

#scatter_vars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#variables_scatter {
    margin-top: -50px;
    width: 500px;
}
.main_page{
    height: 100vh;
}
 
#side_menu {
    background-color: #E5E5E5;
}

#map_var_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country_info_item {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.slider_class .rc-slider-track{
    background-color: #30426A;
}

.rc-slider-track {
    background-color: #30426A;
    
  }
  
  .rc-slider-dot-active {  
    border-color: #30426A;
    border: solid 2px #636363
  }
  
  .rc-slider-handle {
    background-color: #30426A;
    border-color: #30426A
  }
  
  .rc-slider-handle:hover {
    border-color: #30426A;
  }
  
  .rc-slider-handle-active:active {
    border-color: #30426A;
  }
