.graph {
    width: 500px;
    background-color: gainsboro;
}

#title{
    margin-top: 2%;
    color: #30426A;
}

#subtitle {
    color: #30426A;
}

.butao{
    color: aliceblue;
    background-color: #30426A;
    padding-left: 2%;
    padding-right: 2%;
}

#continent{
    margin-top: 2%;
    margin-bottom: 2%;
}

#map-graph{
    width: 100%;
    height: 70%;
}


#back{
    color: aliceblue;
    background-color: #30426A;
    margin-top: 15px;
}

#filters-selected{
    color: aliceblue;
    background-color: #30426A;
    margin-top: 2%;
    margin-bottom: 2%;
}

#map_slider{
    width : 96%;
    margin-top: -68px;
    /* padding-left: 5px; */
    justify-self: center;
    align-self: center;
    
}

#main_menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-right: 0px;
}

#country_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rank{
    /* padding-top: 20px; */
    padding-right: 20px;
}

.filter_item {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: -25px;    
    margin-left: 10px;
    margin-right: 15px;
}

.filter_sec {
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: -0.5px;
}

.continent_button {
    width: 70px;
}

.button_class{
    color: aliceblue;
    background-color: #30426A;
    padding-left: 2%;
    padding-right: 2%;
}

#map_variable {
    width: 50%;
    margin-left: -20%;
    margin: "auto";
}

#variable_text{
    margin-right: -25%;
    margin-top: 1%;
    color: #a3a3a3;
}

#map_variable_container {
    
    justify-content: center;
    /* center the content of the div */
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

#no_data {
    height: 20px;
    width: 40px;
    margin-right: 10px;
    background-color: rgb(229, 236, 246);
    border-color: black;
    border: 1px;
    border-style: solid;
}

#no_data_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
#no_data_container {
    display: flex;
    justify-content: start;
    align-items: start;
    width : 91%;
    margin-top: 30px;
    justify-self: center;
    align-self: center;
}

.scatter_plot {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#scatter_horizontal {
    display: flex;
    justify-content: center ;
} 

#y_variable {
    padding-left: 10px;
    width: 200px;
}

#scatter_vertical{
    display: flex;
    flex-direction:column;
    align-items: center;
    /* width: 950px; */
}

#x_variable {
    width : 200px;
    padding-right: 10px;
}

#scatter_vars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#variables_scatter {
    margin-top: -50px;
    width: 500px;
}
.main_page{
    height: 100vh;
    margin-bottom: -100px;
    padding-bottom: 0px;
}
 
#side_menu {
    background-color: #E5E5E5;
}

#map_var_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country_info_item {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.slider_class .rc-slider-track{
    background-color: #30426A;
}

.rc-slider-track {
    background-color: #30426A;
    
  }
  
  .rc-slider-dot-active {  
    border-color: #30426A;
    border: solid 2px #636363
  }
  
  .rc-slider-handle {
    background-color: #30426A;
    border-color: #30426A
  }
  
  .rc-slider-handle:hover {
    border-color: #30426A;
  }
  
  .rc-slider-handle-active:active {
    border-color: #30426A;
  }

  #label_text{
    margin-left: 4.5%;
    color: #a3a3a3;
    font-size: 8;
  }

  #label_text_side {
    color: #a3a3a3;
    font-size: 8;
  }

  /*
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.popup-content {
    position: relative;
    z-index: 10000;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.popup-content {
    position: relative;
    z-index: 10000;
    padding: 20px;
    margin-left: 66.5%;
    height: 100%;
    background-color: #E5E5E5;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modebar {
    display: none;
}

#side-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}