#side_menu {
    background-color: #E5E5E5;
}

#map_variable {
    width: 25%;
    margin: "auto";
}
#map_var_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country_info_item {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}