.scatter_plot {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    /* width: 400px; */
}

#scatter_horizontal {
    display: flex;
    justify-content: center ;
}

#y_variable {
    padding-left: 10px;
    width: 200px;
}

#scatter_vertical{
    display: flex;
    flex-direction:column;
    align-items: center;
    /* width: 950px; */
}

#x_variable {
    width : 200px;
    padding-right: 10px;
}

#scatter_vars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
#variables_scatter {
    margin-top: -80px;
    width: 500px;
}
.main_page{
    height: 100vh;
}